@model THIDinhVu_61131562.Models.SinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string gtinh = "";
}

<table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="10">
                <caption><b>THÔNG TIN CHI TIẾT</b></caption>
                <tr>
                    <td rowspan="0"><img src="/Images/@Html.DisplayFor(model => model.AnhSV)" width="100" height="100" /></td>
                    <td>Mã sinh viên:</td>
                    <td>@Html.DisplayFor(model => model.MaSV)</td>
                </tr>
                <tr>
                    <td>Họ sinh viên:</td>
                    <td>@Html.DisplayFor(model => model.HoSV)</td>
                </tr>
                <tr>
                    <td>Tên sinh viên:</td>
                    <td>@Html.DisplayFor(model => model.TenSV)</td>
                </tr>
                <tr>
                    <td>Giới tính:</td>
                    <td>
                        @{if (Model.GioiTinh == true)
                            { gtinh = "Nam"; }
                            else
                            { gtinh = "Nữ"; }
                        }
                        @gtinh
                    </td>
                </tr>
                <tr>
                    <td>Ngày sinh:</td>
                    <td>@Html.DisplayFor(model => model.NgaySinh)</td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td>@Html.DisplayFor(model => model.DiaChi)</td>
                </tr>
                <tr>
                    <td>Tôn giáo:</td>
                    <td>@Html.DisplayFor(model => model.TonGiao)</td>
                </tr>
                <tr>
                    <td>Dân tộc:</td>
                    <td>@Html.DisplayFor(model => model.DanToc)</td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td>@Html.DisplayFor(model => model.SDT)</td>
                </tr>
                <tr>
                    <td>Số CMND:</td>
                    <td>@Html.DisplayFor(model => model.CMND)</td>
                </tr>
                <tr>
                    <td>Hệ đào tạo:</td>
                    <td>@Html.DisplayFor(model => model.HeDT)</td>
                </tr>
                <tr>
                    <td>Họ tên cha:</td>
                    <td>@Html.DisplayFor(model => model.HoTenCha)</td>
                </tr>
                <tr>
                    <td>Ngày sinh cha:</td>
                    <td>@Html.DisplayFor(model => model.NgaySinhCha)</td>
                </tr>
                <tr>
                    <td>Nghề nghiệp cha:</td>
                    <td>@Html.DisplayFor(model => model.NgheNghiepCha)</td>
                </tr>
                <tr>
                    <td>Họ tên mẹ:</td>
                    <td>@Html.DisplayFor(model => model.HoTenMe)</td>
                </tr>
                <tr>
                    <td>Ngày sinh mẹ:</td>
                    <td>@Html.DisplayFor(model => model.NgaySinhMe)</td>
                </tr>
                <tr>
                    <td>Nghề nghiệp mẹ:</td>
                    <td>@Html.DisplayFor(model => model.NgheNghiepMe)</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>Ngành học:</td>
                    <td>@Html.DisplayFor(model => model.NganhHoc.TenNganh)</td>
                </tr>
                <tr>
                    <td>Lớp:</td>
                    <td>@Html.DisplayFor(model => model.Lop.TenLop)</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<p style="margin-left:50px;">
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaSV }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
