@model Thi_61131562.Models.DocGia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DocGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoDG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoDG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhDG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiDocGia.TenLoaiDocGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDocGia.TenLoaiDocGia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
